#root {
  display: flex;
  background-color: #282828;
  justify-content: center;
}

.main-pg {
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 600px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  color: white;
}

.line {
  border-bottom: 10px solid #d02035;
  width: 300px;
}

p {
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: white;
}

.intro {
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: flex-end;
}

.error-msg {
  font-size: 12px;
  color: white;
  text-align: right;
  margin: 0;
}

.email-input {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 16px;
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.dropdown {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 16px;
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 44px;
}

.dropdown:invalid {
  color: #797979;
}

.error-input {
  border: solid 2px #d02035;
}

button {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #d02035;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
